/bitoperation.class
/bitoperation.java
/challenge.class
/challenge.java
/firstfile.class
/Moreprac.class
/overdo.class
/overdo.java
/printhello.class
/printhello.java
/QuestionVidlec
/testf.class
/testf.java